<div id="home" class="h-screen lg:h-screen bg-gradient-to-t from-indigo-200 dark:from-slate-800 dark:to-slate-900 relative overflow-hidden ">
  <img class="absolute bottom-0 right-0 h-5/6 object-cover" src="" alt="">
  <div class="hidden lg:block absolute -bottom-1/4 right-0 left-0 mx-auto xl:w-big xl:h-big lg:w-small lg:h-small bg-indigo-900  rounded-full z-5 dark:bg-gray-300 dark:z-5 fade-in"></div>
  <div class="max-w-[1000px] mx-auto px-8 flex flex-col justify-center h-full z-10">
    <p class="text-2xl text-pink-600 slide-from-top">Hi, my name is</p>
    <h1 class="text-4xl sm:text-6xl font-bold text-indigo-900 dark:text-[#ccd6f6] slide-from-top">Tim Park</h1>
    <h2 class="text-4xl sm:text-4xl font-bold dark:text-[#8892b0] slide-from-right">I'm a Full Stack Developer</h2>
    <p class="dark:text-[#8892b0] py-4 max-w-[700px] slide-from-bottom">I'm a recent graduate of a coding bootcamp looking for
      professional development in the tech industry. Please
      take a look around and contact me for more information!</p>
      <button (click)="navigateToProjects()">
        View Work
        <span class="text-indigo-900 dark:text-white group-hover:text-white">
          <i class="fa fa-arrow-right ml-2 text-sm sm:ml-2 sm:w-1 mr-2"></i>
        </span>
      </button>      
  </div>
</div>
  